<div class="container-fluid c-login">
  <div class="row">
    <div class="col-lg-3 col-centered  ">
          <div class="wrath-content-box"> <h1>Inicia Sesión</h1> </div>
          <div class="wrath-content-box">

            <div class="form-group">
                <label for="email-input">Usuario o correo electrónico</label>
                    <input type="email" ngModel name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" #usuario />


            </div>

            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control"  #contraseghnia required/>
            </div>

            <div class="col-sm-6">
              <div class="form-group text-right">
                <input class="btn btn-success btn-sm form-control" value="Ingresar" (click)="iniciarSesion(usuario.value, contraseghnia.value)"/>
              </div>
            </div>

            <div class="clearfix"></div>

          </div>
        </div>




  </div>
</div>
